.cont {
    height: 100vh;
}

.topBar {
    background-image: linear-gradient(225deg, rgb(50, 218, 255), 40%, rgb(176, 0, 164));
    color: white;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 10%;
    box-sizing: border-box;
}

.title {
    font-size: 30px;
    font-family: "Comic Sans MS", cursive;
}

.logOut {
    position: absolute;
    right: 40px;
    cursor: pointer;
}

.sidebarChat {
    display: flex;
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 20px;
    column-gap: 30px;
    background-color: rgb(235, 235, 235);
    height: 90%;
    box-sizing: border-box;
}